name: Run linters

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Set up Python 3.11
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v5
        with:
          python-version: '3.11'
      - name: Install hatch
        run: |
          pip install hatch

      - name: Check code style
        run: hatch run style:code

      - name: Check docstrings
        run: hatch run style:docstrings
